* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: Verenda, sans-serif;
    font-weight: 300;
}

html, body {
    background: #fefcff;
    color: #363636;
    height: 100%;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: #363636;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
    font-weight: 500;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

aside {
    display: grid;
    background: #088f8f;
    width: 30%;
}

aside,
aside a {
    color: #ffffff;
    text-align: center;
}

.avatar {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto 1em;
}

ul li {
    line-height: 2;
    list-style: none;
    padding-bottom: 10px;
}

ul li a {
    display: inline-block;
    position: relative;
}

ul li a:after {
    background: #ffffff;
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 50%;
    margin-top: 5px;
    transition: .2s;
}

ul li a:hover:after {
    width: 100%;
    left: 0;
}

main {
    width: 70%;
}

aside, main {
    padding: 2em;
}

/* This part will make sidebar sticky */
body {
    display: flex;
    flex-direction: column;
}

.flex-container {
    flex: 1;
    display: flex;
    min-height: 0;
}

aside, main {
    overflow: auto;
}
